In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/boxplots.csv", low_memory=False)

In [5]:
df.shape

(1154431, 9)

In [7]:
df.dtypes

iter            object
anio             int64
TRACTCE          int64
values_mod      object
fs             float64
month           object
variable        object
scenario2       object
description     object
dtype: object

In [6]:
df.sample(5)

,iter,anio,TRACTCE,values_mod,fs,month,variable,scenario2,description
566764,True_0.2_0.2_0_0,21,11700,0K-24.9K,50.778816,M21,Income thresholds,C + D,This scenario combines increasing income eligi...
572026,True_0.2_0.2_0_0,23,10200,250K-499.9K,0.000000,M23,Income thresholds,C + D,This scenario combines increasing income eligi...
513462,True_0.2_0.2_0_0,17,7000,White,9.027778,M17,Race/ethnicity,C + D,This scenario combines increasing income eligi...
1085642,True_0_0_0_0,14,8400,White,15.422886,M14,Race/ethnicity,B,This is the baseline scenario that replicates ...
569512,True_0.2_0.2_0_0,22,13100,100K-249.9K,0.000000,M22,Income thresholds,C + D,This scenario combines increasing income eligi...

In [12]:
df = df[["scenario2", "month", "variable", "values_mod", "fs"]].rename(columns={"scenario2": "scenario", "values_mod": "x", "fs": "y"})

In [16]:
df.dtypes

scenario     object
month        object
variable     object
x            object
y           float64
dtype: object

In [13]:
df.sample(5)

          scenario month           variable            x          y
213746           F   M10     Race/ethnicity        Asian   6.666667
1082656          B   M12     Race/ethnicity        White   3.661972
472830   C + D + E   M22  Income thresholds  250K-499.9K   0.000000
758252           G   M20  Income thresholds    50K-74.9K  17.344173
143026       F + G   M23     Race/ethnicity        White  11.707317

In [23]:
scenarios = df["scenario"].unique().tolist()
scenarios.sort()
", ".join(scenarios)

'A, B, C, C + D, C + D + E, C + F, D, D + E, E, F, F + G, G'

In [25]:
len(scenarios)

12

In [26]:
df["variable"].unique().tolist()

['Food stamps beneficiaries', 'Race/ethnicity', 'Income thresholds']

In [28]:
months = df["month"].unique().tolist()
months.sort()
", ".join(months)

'M10, M11, M12, M13, M14, M15, M16, M17, M18, M19, M20, M21, M22, M23, M24, M7, M8, M9'

In [15]:
df.to_csv("../www/data/scenarios_distribution.csv", index=False)

In [29]:
df_2 = pd.read_csv("../data/velocimetros.csv", low_memory=False)

In [31]:
df_2.shape

(216, 17)

In [32]:
df_2.dtypes

iter                      object
anio                       int64
stamps                   float64
ph                       float64
stamps_bl                float64
ph_bl                    float64
perc_stamps              float64
perc_ph                  float64
fs                       float64
fsbl                     float64
perc_fs                  float64
fs_beneficiaries         float64
fsbl_beneficiaries       float64
perc_fs_beneficiaries    float64
month                     object
scenario2                 object
description               object
dtype: object

In [33]:
df_2.sample(5)

,iter,anio,stamps,ph,stamps_bl,ph_bl,perc_stamps,perc_ph,fs,fsbl,perc_fs,fs_beneficiaries,fsbl_beneficiaries,perc_fs_beneficiaries,month,scenario2,description
1,False_0_0_0_0,8,1.252091e+06,12.233333,1.134917e+06,12.233333,0.103245,0.0,14.086548,14.391707,-0.021204,26733.0,23493.25,0.137901,M8,A,"In this scenario, food stamps are turned off f..."
169,True_0_0.2_0_0,14,1.773550e+06,12.233333,1.134917e+06,12.233333,0.562714,0.0,13.338891,14.376196,-0.072154,33511.0,23493.25,0.426410,M14,D,In this scenario the stamp calculation base is...
14,False_0_0_0_0,21,1.252091e+06,12.233333,1.134917e+06,12.233333,0.103245,0.0,14.069852,14.362365,-0.020367,26733.0,23493.25,0.137901,M21,A,"In this scenario, food stamps are turned off f..."
77,True_0.2_0.2_0.2_0,12,1.601429e+06,12.233333,1.134917e+06,12.233333,0.411054,0.0,13.593144,14.376454,-0.054486,30682.0,23493.25,0.305992,M12,C + D + E,This scenario combines increasing income eligi...
92,True_0.2_0.2_0_0,9,1.562888e+06,12.233333,1.134917e+06,12.233333,0.377095,0.0,13.613179,14.401530,-0.054741,31736.0,23493.25,0.350856,M9,C + D,This scenario combines increasing income eligi...

In [38]:
df_2 = df_2[["scenario2", "month", "perc_fs", "perc_fs_beneficiaries", "perc_stamps"]].rename(columns={"scenario2": "scenario"})

In [39]:
df_2.describe()

          perc_fs  perc_fs_beneficiaries  perc_stamps
count  216.000000             216.000000   216.000000
mean    -0.041256               0.242852     0.295129
std      0.021901               0.144535     0.188777
min     -0.073262               0.000000     0.000000
25%     -0.058147               0.130259     0.131968
50%     -0.047935               0.297852     0.335899
75%     -0.028152               0.355517     0.454038
max      0.000000               0.426410     0.562714

In [41]:
df_2.sample(5)

    scenario month   perc_fs  perc_fs_beneficiaries  perc_stamps
54     C + F    M7 -0.038786               0.107331     0.175555
191        E   M18 -0.006047               0.026024     0.037136
199        B    M8  0.000000               0.000000     0.000000
193        E   M20 -0.005976               0.026024     0.037136
132        G   M13 -0.060871               0.403034     0.528103

In [42]:
df_2.to_csv("../www/data/scenarios_perc_changes.csv", index=False)