In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
map_df = gpd.read_file("../data/poligonos/ct2020.geojson")

In [3]:
map_df.shape

(408, 3)

In [4]:
map_df.rename(columns={"TRACTCEmod": "TRACTCE"}, inplace=True)
map_df["TRACTCE"] = map_df["TRACTCE"].astype(int)

In [5]:
map_df.sample(5)

     TRACTCE        GEOID                                           geometry
280    37200  42101037200  POLYGON ((-75.17224 39.91248, -75.17214 39.912...
162    20400  42101020400  POLYGON ((-75.15904 40.02281, -75.15811 40.022...
89     35200  42101035200  POLYGON ((-75.0048 40.05476, -75.00299 40.0560...
396    23800  42101023800  POLYGON ((-75.1888 40.03949, -75.18732 40.0409...
140    17602  42101017602  POLYGON ((-75.13868 39.99905, -75.13865 39.999...

In [6]:
data_df = pd.read_excel("../data/vars_map.xlsx")

In [7]:
data_df.shape

(388, 18)

In [8]:
data_df.sample(5)

,TRACTCE,white_others,white_black,white_asian,white_hispanic,Prop_white,Prop_black,Prop_asian,Prop_hispanic,Prop_others,food_insec,house_insec,both_insec,Low_cost,Low_to_moderate,Moderate,Moderate_to_high,High
230,29900,0.321587,0.254270,0.018598,0.118701,19.101124,58.426966,2.247191,16.853933,3.370787,20.224719,12.359551,6.741573,0.337079,0.224719,0.314607,0.123596,0.000000
256,38200,0.289276,0.318880,0.167375,0.122910,57.142857,10.989011,3.296703,28.571429,0.000000,12.087912,21.978022,3.296703,0.362637,0.153846,0.186813,0.208791,0.087912
244,1301,0.060648,0.019844,0.141401,0.099259,45.000000,41.666667,13.333333,0.000000,0.000000,6.666667,5.000000,1.666667,0.183333,0.216667,0.283333,0.216667,0.100000
112,25200,0.169402,0.048049,0.338608,0.082438,43.555556,41.777778,2.222222,10.222222,2.222222,15.111111,7.111111,1.777778,0.315556,0.164444,0.271111,0.173333,0.075556
327,38600,0.489158,0.340761,0.232989,0.175409,85.000000,10.000000,1.666667,1.666667,1.666667,0.000000,8.333333,0.000000,0.166667,0.250000,0.183333,0.266667,0.133333

In [9]:
merged_df = map_df.merge(data_df, how="left", on="TRACTCE")

In [10]:
merged_df.shape

(408, 20)

In [11]:
merged_df.sample(5)

,TRACTCE,GEOID,geometry,white_others,white_black,white_asian,white_hispanic,Prop_white,Prop_black,Prop_asian,Prop_hispanic,Prop_others,food_insec,house_insec,both_insec,Low_cost,Low_to_moderate,Moderate,Moderate_to_high,High
5,1201,42101001201,"POLYGON ((-75.18714 39.94723, -75.18564 39.948...",0.776337,0.553031,0.371238,0.272566,81.553398,10.679612,1.941748,2.912621,2.912621,11.650485,12.621359,1.941748,0.291262,0.155340,0.174757,0.271845,0.106796
87,34900,42101034900,"POLYGON ((-75.02212 40.03807, -75.02209 40.038...",0.080947,0.214930,0.034742,0.503686,35.877863,14.503817,4.580153,42.748092,2.290076,12.213740,6.870229,2.290076,0.312977,0.122137,0.320611,0.175573,0.068702
12,27402,42101027402,"POLYGON ((-75.12831 40.03302, -75.12814 40.033...",0.443617,0.437628,0.142805,0.025206,17.543860,70.175439,6.140351,3.508772,2.631579,7.017544,5.263158,0.000000,0.219298,0.307018,0.228070,0.201754,0.043860
207,403,42101000403,"POLYGON ((-75.16867 39.95189, -75.16864 39.952...",0.740037,0.566986,0.102115,0.257861,81.632653,5.102041,9.183673,3.061224,1.020408,3.061224,7.142857,0.000000,0.275510,0.132653,0.132653,0.285714,0.173469
130,38800,42101038800,"POLYGON ((-75.20477 40.05486, -75.20469 40.054...",0.240965,0.133242,0.155444,0.121840,57.333333,34.666667,2.666667,4.000000,1.333333,12.000000,14.666667,4.000000,0.240000,0.266667,0.186667,0.160000,0.146667

In [12]:
merged_df.to_file("../www/data/ct2020.geojson")

In [13]:
merged_df.sample(3).to_file("../www/data/ct2020_sample.geojson")