In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("../data/lineplotsv2.xlsx")

In [4]:
df.shape

(1296, 8)

In [5]:
df.dtypes

anio             int64
val            float64
upper          float64
lower          float64
iter            object
var             object
scenario2       object
description     object
dtype: object

In [6]:
df.sample(5)

,anio,val,upper,lower,iter,var,scenario2,description
147,1,0.467171,0.469033,0.465309,True_-0.2_-0.2_0_0,DD White vs Others,F + G,This scenario combines decreasing income eligi...
300,13,0.372160,0.378122,0.366198,True_-0.2_0_0_0,DD White vs Asian,F,NaN
1127,3,0.467273,0.468629,0.465916,True_0_0_0.2_0,DD White vs Others,E,"In this scenario, the importance of the eligib..."
1203,16,14.362882,14.441032,14.284732,True_0_0_0_0,Food insecurity,B,This is the baseline scenario that replicates ...
1094,15,14.276537,14.354491,14.198582,True_0_0_0.2_0,Food insecurity,E,"In this scenario, the importance of the eligib..."

In [7]:
df = df[["scenario2", "anio", "var", "val"]].rename(columns={"scenario2": "scenario", "anio": "year", "var": "variable", "val": "value"})

In [8]:
df.dtypes

scenario     object
year          int64
variable     object
value       float64
dtype: object

In [9]:
df.sample(5)

     scenario  year                      variable      value
74          A    10          DD White vs Hispanic   0.474904
32          A    15              House insecurity  13.140586
945     D + E    12  DD White vs African American   0.545787
1150        E     9          DD White vs Hispanic   0.470173
811         G     5            DD White vs Others   0.467483

In [11]:
df["variable"].unique().tolist()

['Food insecurity',
 'House insecurity',
 'DD White vs Asian',
 'DD White vs African American',
 'DD White vs Hispanic',
 'DD White vs Others']

In [10]:
df.to_csv("../www/data/scenarios_simulation.csv", index=False)